name: Lint Project

on:
  pull_request:
    branches: [master, main]

jobs:
  lookml_linter:
    runs-on: ubuntu-latest
    name: LookML Linter
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35
        with:
          files_ignore: .github
          since_last_remote_commit: false
      - name: Run LookML Linter
        uses: rbob86/lookml-linter@v6
        with:
          filepaths: ${{ steps.changed-files.outputs.all_changed_files }}
          saveOutputToFile: false
      - uses: mshick/add-pr-comment@v2
        with:
          message: "${{ env.error_log }} \n **Errors? See** https://www.notion.so/discordapp/Looker-Linter-Guide-797453ae9eea44b980efb459af0e292d"
        if: (failure() || success()) && github.event_name == 'pull_request' && env.error_log != ''
