name: Lint Project writing logs to file

on:
  push:
    branches-ignore:
      - "master"
  pull_request:
    branches: [master, main]

jobs:
  lookml_linter:
    runs-on: ubuntu-latest
    name: LookML Linter
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v35
        with:
          files_ignore: .github
          since_last_remote_commit: true
      - name: Run LookML Linter
        uses: jorgeestebanm/lookml-linter@v7.0
        with:
          filepaths: ${{ steps.changed-files.outputs.all_changed_files }}
